name: Build packages
on:
  workflow_dispatch:
  push:
    branches: [master]
    paths: [srcpkgs/**]
permissions:
  contents: write
  packages: read
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/voiders-community/builder:master
      options: --privileged
      env:
        XBPS_TARGET_ARCH: ${{ matrix.arch }}
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        arch: [ x86_64, x86_64-musl ]
    steps:
      - name: clone ${{ github.repository }}
        run: |
          # depth=100 because each build is run one by one, and each successful build will push a new commits
          git clone https://github.com/${{ github.repository }}.git --shallow-submodules --recursive --depth=100
      - name: bootstraping xbps-src
        run: |
          cd packages
          ./make bootstrap
      - name: build changed templates
        run: |
          cd packages
          for file in $(git diff --name-only ${{ github.event.before }}..${{ github.sha }} | grep "srcpkgs/"); do
            ./make build "$(echo "$file" | cut -d "/" -f2)"
          done
      - name: signing packages
        run: |
          cd packages
          gpg --quiet --batch --yes --decrypt --passphrase="${{ secrets.PRIVATE_PEM_GPG_PASS }}" --output ./private.pem ./private.pem.gpg
          xbps-rindex --privkey private.pem --sign-pkg --signedby "Voiders community" ./hostdir/binpkgs/*.xbps
      - name: adding packages
        run: |
          cd packages
          xbps-rindex -a ./hostdir/binpkgs/*.xbps
      - name: signing repo
        run: |
          cd packages
          xbps-rindex --privkey private.pem --sign --signedby "Voiders community" hostdir/binpkgs
      - name: pushing packages
        run: |
          cd packages
          git config user.email "community@voiders.fake.url"
          git config user.name "Voiders Community"
          git pull --autostash --rebase
          git add ./hostdir/binpkgs || :

          # if there's something cached
          if ! git diff --cached --quiet; then
            git commit -m "[ci] add newly built packages ${{ matrix.arch }}"
            git remote remove origin
            git remote add origin https://builder:${{ secrets.PAT }}@github.com/${{ github.repository }}
            git push --set-upstream origin master
          fi
