name: Test Packages
on:
  pull_request:
    paths: [srcpkgs/**]

permissions:
  contents: read
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    # skip if PR title starts with [ci skip]
    if: "!startsWith(github.event.pull_request.title, '[ci skip]')"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/void-linux/void-glibc-full:latest
      options: --privileged
      env:
        XBPS_ARCH: x86_64
        XBPS_ALLOW_CHROOT_BREAKOUT: yes
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        arch: [x86_64, x86_64-musl]
    steps:
      - name: Prepare Container
        run: |
          xbps-install -Syu xbps
          # xtools is included here, providing xlint
          xbps-install -y git bash gnupg tar curl wget base-devel gawk python3 xtools procps-ng

          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git config --global --add safe.directory "$GITHUB_WORKSPACE/void-packages"

      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 0

      - name: Shallow Clone Void-Packages
        run: |
          git submodule update --init --recursive --depth 1

      - name: Identify changed templates
        id: changes
        run: |
          git fetch origin ${{ github.base_ref }}

          CHANGED=$(git diff --name-only origin/${{ github.base_ref }}...HEAD | grep "^srcpkgs/" | cut -d/ -f2 | sort -u | xargs)

          if [ -z "$CHANGED" ]; then
            echo "No changes detected."
            echo "templates=" >> $GITHUB_OUTPUT
          else
            echo "Detected changes in: $CHANGED"
            echo "templates=$CHANGED" >> $GITHUB_OUTPUT
          fi

      - name: Lint Packages
        if: steps.changes.outputs.templates != ''
        run: |
          for pkg in ${{ steps.changes.outputs.templates }}; do
            echo "Linting $pkg..."
            xlint "srcpkgs/$pkg"
          done

      - name: Bootstrap xbps-src
        run: ./build.sh bootstrap

      - name: Build Packages
        if: steps.changes.outputs.templates != ''
        env:
          XBPS_TARGET_ARCH: ${{ matrix.arch }}
        run: |
          for pkg in ${{ steps.changes.outputs.templates }}; do
            echo "Building $pkg for ${{ matrix.arch }}..."
            ./build.sh build "$pkg"
          done
